

        <form id="newcontactform" class="formulario" action="" >
          

          <label>Id</label>
          <input id="contact_id" name="contactId" class="form-control" type="text" readonly>
          <label>Nombre</label>
         
          <input id="nombreFormField" name="nombreFormFieldName" class="form-control" type="text" />
          <% if(typeof error != "undefined" ) { %>
            <% console.log(error)%>
            <p class="error_msg">Error: The  Name cannot be blank</p>
         <% } %>
          <label>Edad</label>
          <input id="edadFormField" name="edadFormFieldName" class="form-control" type="text" />
          <% if(typeof error != "undefined" ) { %> 
            <p class="error_msg">Error: The  age cannot be blank</p>
         <% } %>
     
        </form>
 