<form id="editcontactform" class="formulario" action="" method="POST">
  <label>Nombre</label>
  <input id="nombreFormFieldmod" name="nombreFormFieldName" type="text" value="<%= data.name %>" />

  <label>Edad</label>
  <input id="edadFormFieldmod" name="edadFormFieldName" type="text" value="<%= data.age %>" />

</form>

 